<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Blog | Show</title>
</head>

<body>
    <div class="container">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="mb-2 text-muted">
            <%= article.createdAt.toLocaleDateString() %> 
        </div>
        <a href="/" class="btn btn-secondary">All Articles</a>
        <a href="/articles/edit/<%= article._id %>" class="btn btn-info">Edit</a>
        <hr>
        <div class="mt-4">
            <%- article.sanitizedHtml %> 
        </div>
        
    </div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>